<html>
<head>
	<title>NO TITLE</title>
	<link rel="stylesheet" media="screen" href="/css/blueprint/screen.css" />
	<link rel="stylesheet" media="print" href="/css/blueprint/print.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/start/jquery-ui-1.8.22.custom.css"/>
</head>
<body>
	<div class="container">
		<h2>
			<a href='http://23.21.138.252:4567/image/<%= @image['image_filename'] %>'>
				<%= @image['image_filename'] %>
			</a> 
			: <%= @image['files'][@id]['filename'] %>
		</h2>
		<table>
			<thead>
				<tr>
					<th>field</th><th>value</th>
				</tr>
			</thead>
			<tbody>
				<% @image['files'][@id].each do |field| %>
					<tr>
						<td><%= field[0] %></td>
						<td><%= field[1] %></td>
					</tr>
				<% end %>
			</tbody>
	</div>
</body>
