<html>
<head>
	<title>Image Directory</title>
	<link rel="stylesheet" media="screen" href="/css/blueprint/screen.css" />
	<link rel="stylesheet" media="print" href="/css/blueprint/print.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/start/jquery-ui-1.8.22.custom.css"/>
</head>
<body>
	<div class="container">
		<h2>Forensic Images</h2>
		<% @cols.each do |col| %>
			<%= col[0] %> <%= col[1][:title]%>
			<ul>
			<% col[1][:files].each do |image| %>
				<li><a href="http://localhost:4567/image/<%= image %>"><%= image %></a></li>
			<% end %>
			</ul>
		<% end %>
		<%= @cols %> 
	</div>
</body>